@{
    ViewBag.Title = "Home Page";
}
<head>
            <title>Bootstrap Example</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <style>
                /* Remove the navbar's default margin-bottom and rounded borders */
                .navbar {
                    margin-bottom: 0;
                    border-radius: 0;
                }

                /* Add a gray background color and some padding to the footer */
                footer {
                    background-color: #f2f2f2;
                    padding: 25px;
                }

                .carousel-inner img {
                    width: 100%; /* Set width to 100% */
                    margin: auto;
                    min-height: 200px;
                }

                .carousel-inner {
                    width: 100%; /* Set width to 100% */
                    margin: auto;
                    min-height: 200px;
                }

                /* Hide the carousel text when the screen is less than 600 pixels wide */

            </style>
        </head>
    <body>
        


        <div class="jumbotron">
            <h1>PubCrew</h1>
            <p class="lead"></p>
            
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Lion's Pub Group Inventory Management</h2>
                <p>
                   
                </p>
                <p></p>
            </div>
            <div class="col-md-4">
                <h2></h2>
                <p></p>
                <p></p>
            </div>
            <div class="col-md-4">
                <h2></h2>
                <p></p>
                <p></p>
            </div>
        </div>
        </body>
